/* Write your CSS code here */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  margin-right: 10px;
}
